:root {
  --color-main: #1ed760;
  --color-tint: #2F3034;
  --color-main-alpha-1: rgba(0, 0, 0, 0.1);
  --color-main-alpha-2: rgba(0, 0, 0, 0.15);
  --color-main-alpha-3: rgba(0, 0, 0, 0.2);
  --color-light: #f2f2f2;
  --color-light-hover: #e1e0e5;
  --color-modal-main: var(--color-tint);
  --color-modal-main-hover: var(--color-light-hover);
  --color-modal-tint: var(--color-light);
  --color-modal-tint-hover: var(--color-light-hover);
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--color-main);
  margin: 0;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 6fr 4fr;
  grid-template-rows: 80px 1fr;
  grid-column-gap: 40px;
  grid-template-areas: "nav nav" "search queue"
}

nav {
  grid-area: nav;
  height: 100%;
  padding: 0 40px;
  color: var(--color-tint);
  background-color: var(--color-main-alpha-3);
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  align-items: center;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .50);
  z-index: 2;
}

nav button {
  padding: 0;
  font-size: 1em;
  font-weight: bold;
  color: var(--color-tint);
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

nav button:hover {
  text-decoration: underline;
}

nav .feather:hover {
  fill: var(--color-main);
}

nav .logged_in {
  color: var(--color-main);
  font-weight: bold;
}

.search {
  grid-area: search;
  padding-top: 40px;
  padding-left: 40px;
}

.search__bar {
  position: relative;
  display: flex;
  align-items: center;
}

.search__bar__input {
  width: 100%;
  height: 80px;
  padding: 20px 20px 20px 90px;
  color: var(--color-tint);
  background-color: var(--color-main-alpha-1);
  border: 0;
  border-radius: 4px;
  font-size: 1.4em;
  font-weight: bold;
  outline: none;
  transition: box-shadow 420ms cubic-bezier(.165, .85, .45, 1);
}

.search__bar__input:focus {
  background-color: var(--color-main-alpha-2);
}

.search__bar__input::placeholder {
  color: var(--color-tint);
  font-weight: normal;
}

.feather-search {
  position: absolute;
  left: 30px;
  stroke: var(--color-tint);
}

.search-list {
  grid-area: nav;
  padding: 0;
  color: var(--color-tint);
  font-size: 1.2em;
  list-style-type: none;
}

.search-list__item {
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.search-list__item:hover,
.search-list__item:active {
  background-color: var(--color-main-alpha-1);
  transition: background linear 200ms;
  cursor: pointer;
}

.search-list__item:active {
  background-color: var(--color-main-alpha-2);
}

.search-list__item__image {
  width: 50px;
  height: 50px;
  border-radius: 4px;
}

.search-list__item__name {
  font-weight: bold;
  padding-left: 20px;
}

.search-list__item__artist {
  margin-left: auto;
  text-align: right;
}

.search-list__item__duration {
  margin-left: 20px;
  width: 50px;
  font-style: italic;
  text-align: right;
}

.search-list__no-results {
  padding-left: 20px;
}

.search__loader {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.input {
  display: block;
  padding: 10px;
  color: var(--color-light);
  background-color: var(--color-main-alpha-1);
  border: 0;
  border-radius: 4px;
  font-size: 1em;
  font-weight: bold;
  outline: none;
  transition: box-shadow 420ms cubic-bezier(.165, .85, .45, 1);
}

.input:focus {
  background-color: var(--color-main-alpha-2);
}

.input::placeholder {
  color: var(--color-light);
  font-weight: normal;
}

.btn {
  display: block;
  padding: 10px 30px;
  color: var(--color-main);
  background-color: var(--color-tint);
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  padding: 8px 28px;
  border: 2px solid var(--color-tint);
  background-color: var(--color-light-hover);
  transition: background-color 400ms cubic-bezier(.165, .85, .45, 1);
}

input:focus, button:focus { outline: none; }

a {
  color: var(--color-tint);
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Modal */
.group-modal {
  --color-tint: var(--color-modal-tint);
  --color-main: var(--color-modal-main);
  --color-light-hover: var(--color-modal-tint-hover);
  padding: 20px;
}

.group-modal h2 {
  margin-top: 10px;
}

.group-modal .input {
  margin-bottom: 20px;
}

.group-modal .btn {
  position: absolute;
  bottom: 30px;
}

@media (max-width: 992px) {
  nav {
    padding-top: 20px;
    padding-bottom: 40px;
    grid-auto-flow: row;
  }

  nav a,
  nav button {
    font-size: 1.2em;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr;
    grid-template-areas: "nav" "search" "queue";
  }

  .search {
    padding: 40px;
  }
}

@media (max-width: 600px) {
  .modal.group-modal {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 6em;
  }

  .group-modal .btn {
    position: initial;
  }
}

