.queue {
  padding: 40px;
  height: 100%;
  box-shadow: 0 8px 16px 0 hsla(0, 0%, 0%, 0.2);
}

.queue__heading {
  height: 80px;
  margin-bottom: 20px;
  padding: 20px;
  color: var(--color-tint);
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
  border-radius: 4px;
  font-size: 1.4em;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  grid-auto-flow: column;
}

.queue__heading__title {
  font-weight: bold;
}

.queue__heading__title:hover {
  text-decoration: underline;
  cursor: pointer;
}

.feather-clock,
.feather-play,
.feather-x {
  stroke: var(--color-tint);
  stroke-width: 2;
}

.feather-play:hover,
.feather-x:hover {
  stroke-width: 3;
}

.queue__items {
  padding: 0;
  list-style-type: none;
}

.queue__item {
  margin-bottom: 10px;
  padding: 20px;
  color: var(--color-tint);
  border-radius: 4px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  grid-auto-flow: column;
}

.queue__item__name {
  font-weight: bold;
  display: block;
}

.queue__item__duration {
  font-style: italic;
}

@keyframes flickerAnimation {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.animate-flicker {
  animation: flickerAnimation 1.5s infinite;
}

@media (max-width: 992px) {
  .queue {
    margin: 0 40px;
  }
}
