.color-picker {
  width: 32px;
  height: 32px;
  z-index: 3;
}

.color-picker:not(.color-picker--open) .color-picker__item {
  display: none;
}

.color-picker__toggler {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.color-picker__toggler:hover,
.color-picker--open .color-picker__toggler {
  background-color: var(--color-main);
}

.color-picker__item {
  width: 32px;
  height: 32px;
  margin-top: 4px;
  border-radius: 50%;
  border: 2px solid var(--color-tint);
  cursor: pointer;
}

.color-picker__item--custom {
  background-color: var(--color-main);
  font-size: 0.8em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-picker__item--custom .feather {
  stroke: var(--color-tint);
  width: 18px;
  height: 18px;
}


